*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 70px;
}

#bulb{

    height : 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid red;
}
button{
    height: 30px;
    width: 30px;
    background-color: grey;
    margin-top: 20px;
    margin-left: 80px;
}
