*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: lightgreen;
    display:flex;
    justify-content: center;
    align-items: center;
 
}
#container{
    height: 350px;
    width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#container img{

    height: 100%;
    width: 100%;
    object-fit: cover;
}
#container i{
    font-size: 70px;
    color: #fff;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: transform ease 0.4s;
    opacity: 0;
    top: 50%;
    left: 50%;
}