*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

html,body{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
}

.cards{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

#card img{
    height: 50%;
    width: 100%;
    padding:30px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    padding-bottom: 0px;
}

#card h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}
#card h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: red;
}

#card #btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;  
}

#card .add {
    padding: 12px;
    background-color: rgb(22, 161, 22);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    font-size: 13px;
    font-weight: 600;
}


